{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<h2>Write your own Haiku</h2>
<div class="container-fluid intro-text">
    <p class="my-3 mx-auto">
        Writing a haiku is simple and with some practice a lot of fun.
        Just follow this basic structure as the minimal rule set, everything else
        is up to you!
    </p>
    <p>Use three lines for your haiku.</p>
    <p>The first and third line have 5 syllables each</p>
    <p>Your haiku shouldn't rhyme</p>
    <p>Traditionally a cutting word, called a <em>kireji</em> is included
        as well as a seasonal reference. In this modern age however not all topics warrent
        a seasonal reference and in order to make easier for beginners a <em>kireji</em>
        is not mandetory.
    </p>
    <p>Just tag your haiku with one of the subjects provided and don't worry about anything
        else. Have fun!
    </p>

    <!-- Haiku submission form -->
    <form method="POST" class="haiku-form">
        {% csrf_token %}
        {{ form.as_p | safe }}
        <button type="submit" class="submit-btn">Submit</button>
    </form>
</div>

{% endblock %}