{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<h2>Read <br>"{{ haiku.title }}"</h2>
<!-- Haiku content -->
<p class="tag-label fw-bold">{{ haiku.tag }}</p>
<p>by {{ haiku.author }}</p>
<div class="haiku-content">{{ haiku.content | safe | linebreaks }}
    <!-- Like functionality -->
    <div class="like-haiku">
        {% if user.is_authenticated %}
        <form class="like-form" action="{% url 'haiku_like' haiku.slug %}" method="post">
            {% csrf_token %}
            {% if liked %}
            <button type="submit" name="haiku_id" value="{{ post.slug }}" class="like-btn" aria-label="like-button">
                <iconify-icon inline icon="emojione:cherry-blossom"></iconify-icon>
            </button>
            {% else %}
            <button type="submit" name="haiku_id" value="{{ post.slug }}" class="like-btn">
                <iconify-icon inline icon="emojione-monotone:cherry-blossom"></iconify-icon>
            </button>
            {% endif %}
        </form>
        {% else %}
        <span>
            <iconify-icon inline icon="emojione-monotone:cherry-blossom"></iconify-icon>
        </span>
        {% endif %}
        <span class="likes-number">{{ haiku.number_of_likes }}</span>
        <span class="tankas-num">
            <iconify-icon inline icon="uil:comment-image" style="color: #ff506e;" width="20"></iconify-icon>
            {{ haiku.approved_tankas.count }}
        </span>
    </div>

</div>

<!-- Edit/Delete haiku functionality -->
{% if user.id == haiku.author.id %}
<div class="update-btn-group">
    <a href="{% url 'update' haiku.slug %}" class="edit-btn" role="button">Edit</a>
    <a href="{% url 'delete' haiku.slug %}" class="delete-btn" role="button">Delete</a>
</div>
{% endif %}

<!-- Already added tanka extensions -->
<p class="h3 my-4">See how other people continued this poem</p>
{% if haiku.approved_tankas.count == 0 %}
<p>Nobody has extended this haiku yet.</p>
{% else %}
{% for tanka in tankas %}
{% if tanka.approved %}
<div class="tanka">
    {{ tanka.body | safe | linebreaks }}
    <div class="tanka-author">
        by {{ tanka.author }}
    </div>
</div>
{% endif %}
{% endfor %}
{% endif %}


{% if user.is_authenticated %}

<!-- Tanka submission form -->
<p class="h3 mt-5 mb-4">Add a tanka extension</p>
<p class="intro-text mb-4">
    Turning a haiku into a tanka is easy.<br>
    Simply add two more lines of 7 syllables each.<br>
    However, there is a challenge. Your extension has to match the theme and general mood
    of the existing haiku. This can prove difficult as haikus are often somewhat cryptic and
    and the subject might only be clear to the author.<br>
    But therein lies the fun.<br>
    So give it a try!
</p>
<form method="post" class="tanka-form">
    {{ tanka_form | crispy }}
    {% csrf_token %}
    <button type="submit" class="submit-btn">Submit</button>
</form>

{% endif %}

{% endblock %}